@import "~@angular/material/theming";
@include mat-core();
$light-app-theme: mat-light-theme( ( color: ( primary: mat-palette($mat-indigo), accent: mat-palette($mat-pink, A200, A100, A400), warn: mat-palette($mat-red), ), ));
$dark-app-theme: mat-dark-theme( ( color: ( primary: mat-palette($mat-cyan), accent: mat-palette($mat-blue-gray, A200, A100, A400), warn: mat-palette($mat-amber), ), ));
@include angular-material-theme($light-app-theme);
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerEllipsis {
    text-overflow: inherit;
    overflow: inherit;
    margin-bottom: 0px !important;
    font-size: 18px;
}